<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-2">
        <div class="container">
        <a class="navbar-brand" href="#">VidNote</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav">
            {{#if user}}
            <li><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
            <li><a class="nav-item nav-link" href="add">Add Ideas</a></li>
            <li><a class="nav-item nav-link" href="/users/logout">Logout</a></li>
            {{else}}
            <li><a class="nav-item nav-link" href="/users/register">Register</a></li>
            <li><a class="nav-item nav-link" href="/users/login">Login</a></li>
            {{/if}}
        </ul>
        </div>
        </div>
    </div> 
</nav> 